.sectionImageBar {
    flex: 1;
    display: flex;
    overflow: auto;
    /*flex-direction: column;*/

    margin-bottom: 5em;
}

.cardSectionImageBar{
    width: 5rem;
    margin: 0.5em;
}

.card-img-top{
    min-height: 10em;
    max-height: 10em;
}