.sectionBar {
    flex: 1;
    display: flex;
    overflow: auto;

    margin-bottom: 5em;
}

.card-img-top{
    min-height: 10em;
    max-height: 10em;
}

.cardSectionBar{
    width: 18rem;
    margin: 0.5em;
    
    min-height: 19em;
    max-height: 19em;

    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform 0.6s;
}

.cardSectionBar:hover{
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
    
}

/* width */
.sectionBar::-webkit-scrollbar {
    width: 10px;
    /*display: none;*/
}
  
  /* Track */
.sectionBar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
.sectionBar::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
.sectionBar::-webkit-scrollbar-thumb:hover {
    background: #555;
}